@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

a{
    font-weight: 500;
    color: black;
    padding: 2rem;

}

#browsetherange{
    height: 48px;
    top: 1610px;
    left: 588px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;

}
#lorembrowse{
    height: 48px;
    top: 1610px;
    left: 588px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color:  #666666;

;        
}
#ourproducts{
    height: 48px;
    top: 1610px;
    left: 588px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;

}
#parent {
    position: relative;
}

.beige {
    position: absolute;
    width: 643px;
    height: 443px;
    top: 221.3px; /* Ensure this is intended */
    left: 739px; /* Ensure this is intended */
    gap: 0px; /* Check if this is required in the context */
    border-radius: 10px 0px 0px 0px;
    opacity: 0; /* Corrected to be between 0 and 1 */
}


.flex1{
    display:flex;
}

#homeshopaboutcart{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: black;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100%;
    display: flex;
}

.image {
    width: 285px;
    height: 301px;
    position: relative;
}

.content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.6s;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}

.content:hover {
    opacity: 1;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    min-height: 716.83px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(backgroundhome.png) no-repeat center / cover;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 60%;
    height: 600px;
    border-radius: 8px;
}

.right { 
    background-color: #FFF3E3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 643px;
    height: 443px;
    top: 221.3px;
    left: 739px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    padding: 25px 30px;
}
#newarrival{
    width: 123px;
    height: 24px;
    top: 283.3px;
    left: 780px;
    gap: 0px;
    opacity: 0px;
}
#yellow{
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    width: 559px;
    height: 127px;
    top: 311.3px;
    left: 780px;
    gap: 0px;
    opacity: 0px;
    color: #B88E2F;
}
#lorem{
    width: 546px;
    height: 52px;
    top: 455.3px;
    left: 780px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}
#buynow{
    background: #B88E2F;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    width: Hug (222px)px;
    height: Hug (74px)px;
    top: 553.3px;
    left: 778px;
    padding: 25px 72px 25px 72px;
    gap: 10px;
    opacity: 0px;
    border: none;

}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.xam{
    color: #9F9F9F;
}

.input-box {
    outline: none;
    border: none;
    width: 286px;
    height: 24px;
    top: 127px;
    left: 947.01px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-bottom: 1.5px solid #000000 ;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    display: inline-block;
}   
#subscribe{
    width: 75px;
    height: 21px;
    top: 127px;
    left: 1140.01px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    background-color: white;
    border: none;
    border-bottom:1.5px solid #000000 ;
}

.browsetherangeitem{
    display: flex;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    column-gap: 18px;
    padding: 25px 100px;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100%;
    display: flex;
}

.image {
    width: 285px;
    height: 301px;
    position: relative;
}

.content {
    width: 285px;
    height: 446px;
    gap: 0px;
    opacity: 0px;    
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.6s;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}

.content:hover {
    opacity: 1;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#addtocart{
    width: 202px;
    height: 48px;
    left: 25px;
    gap: 0px;
    opacity: 0px;    
    background-color: white;  
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #B88E2F;
    text-align: center;      
    border: none;
}
#hoveritem{
    display: flex;
    column-gap: 10px;
}
.content{
    padding: 30% 10%;
}
#share{
   display: flex; 
}
#compare{
    display: flex;
}
#like{
    display: flex;
}
.aboutproducts { 
    background-color: #F4F5F7;
    ;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 145px;
    top: 301px;
    gap: 0px;
    opacity: 0px;
    padding: 25px 25px;
}
.giamgia{
    background-image: -moz-element(c);
}
.circle{
    width: 48px;
    height: 48px;
    top: 65px;
    left: 213px;
    gap: 0px;
    opacity: 0px;
    background: #E97171;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.giamgia{
    position:absolute;
    width: inherit;
    height: auto;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

.tenlon{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    width: 123px;
    height: 29px;
    top: 317px;
    left: 16px;
    gap: 0px;
    opacity: 0px;
}
.loaisanpham{
    width: 138px;
    height: 24px;
    top: 354px;
    left: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #898989;
}
.giasaugiam{
    width: 131px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;    
}
.giatruocgiam{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #B0B0B0;
}
* {
    margin: 0;
    padding: 0;
}
.btns {

}
.btns {
    position: absolute;
    display: flex;
    color: grey;
    font-size: 17px;
}
.btn i:hover {
    cursor: pointer;
}
#heart { 
    position: relative; 
    width: 100px; 
    height: 90px; 
} 
#parent{position: relative;}
.red{
    width: 1440px;
    height: 1007.93px;
    top: -106.7px;
    gap: 0px;
    opacity: 0px;

}
.loaisanpham{
    display: inline;
}
#new{
    background: #2EC1AC;
}
.tatcaproduct{
    display: flex;
    column-gap: 30px;
}
.circle1{
    width: 48px;
    height: 48px;
    top: 65px;
    left: 213px;
    gap: 0px;
    opacity: 0px;
    background: #E97171;
    border-radius: 50%;
    position: relative;
    z-index: -1;
}
#myBtn{
    background: white;
    border: 1.5px solid #B88E2F;
    width: 245px;
    height: 48px;
    top: 2646px;
    left: 598px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #B88E2F;
    
}
.nutshowmore{
    padding: 25px 500px;
}