@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.advert { 
    background-color: #FAF3EA;
    display: flex;
    align-items: center;
    justify-content: center;
    width: Fixed (1,440px)px;
    height: Fixed (270px)px;
    top: 2699px;
    left: -3px;
    padding: 100px 0px 100px 0px;
    gap: 0px;
    justify: space-between;
    opacity: 0px;
}
.bigname{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    width: 157px;
    height: 38px;
    gap: 0px;
    opacity: 0px;      
}
.footnote{
    width: 267px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #898989;        
}
.iconvachu{
    display: inline-flex;
    
}
#highquality {
    grid-column: 1 / 3;
    grid-row: 1;
  }
#warranty {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
  }
#freeshipping {
    grid-column: 1;
    grid-row: 2 / 5;
}
.support {
  grid-column: 3;
  grid-row: 3;
}

.flex1{
  display:flex;
  justify-items: center;
  align-items: center;
}

#homeshopaboutcart{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: black;
}
a{
  font-weight: 500;
  color: black;
  padding: 2rem;

}



.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
grid-column: 1 / 3;
grid-row: 1;
}
.two {
grid-column: 2 / 4;
grid-row: 1 / 3;
}
.three {
grid-column: 1;
grid-row: 2 / 5;
}
.four {
grid-column: 3;
grid-row: 3;
}
.xam{
  color: #9F9F9F;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  
}

.input-box {
  outline: none;
  border: none;
  width: 286px;
  height: 24px;
  top: 127px;
  left: 947.01px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border-bottom: 1.5px solid #000000 ;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  display: inline-block;
}   
#subscribe{
  width: 75px;
  height: 21px;
  top: 127px;
  left: 1140.01px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  background-color: white;
  border: none;
  border-bottom:1.5px solid #000000 ;
}
a{
  font-weight: 500;
  color: black;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.caucuoi{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  
}
.noidung{
  width: 1440px;
  height: 316px;
  top: 100px;
  gap: 0px;
  opacity: 0px;    
  align-items: center;
  justify-content: center;
  background: url(background\(contact\).png) no-repeat center / cover;
  text-align: center;
  padding: 25px 30px;
}
#Furniro{
  width: 130px;
  height: 41px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 41.45px;
  text-align: left;
  
}
#contact{
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  text-align: center;
      
}
#homecontact{
  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
:placeholder-shown{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  
}
span{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  
}
.showingresult{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  
}
#span1{
  width: 55px;
  height: 55px;
  top: 439px;
  left: 968px;
  gap: 0px;
  opacity: 0px;  
  text-align: center;
  background-color: white;
  border: none;
}
#span2{
  width: 188px;
  height: 55px;
  top: 439px;
  left: 1152px;
  gap: 0px;
  opacity: 0px;
  text-align: center;
  background-color: white;
  border: none;
}
.duoigioithieu{
  background-color: #FFF3E3;
  display: inline-flex;
  align-items: center;

  width: 1440px;
  height: 100px;
  top: 417px;
  gap: 0px;
  opacity: 0px;
  border-radius: 10px 0px 0px 0px;
  column-gap: 650px;
}
.trai{
  display: flex;
  align-items: center;
}

.mot{
  width: 60px;
  height: 60px;
  top: 30px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
  border: none;
  background-color: #B88E2F;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-align: center;  
  color: white;
}
.hai{
  width: 60px;
  height: 60px;
  top: 30px;
  left: 98px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  background-color: #F9F1E7;
  border: none;
}
.sotrang{
  display: flex;
  justify-items: center;
  align-items:center ;
  width: Hug (392px)px;
  height: 170px;
  padding: 30px 0px 0px 0px;
  gap: 38px;
  opacity: 0px;
  padding: 25px 300px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  width: 100%;
  display: flex;
}

.image {
  width: 285px;
  height: 301px;
  position: relative;
}

.content {
  width: 285px;
  height: 446px;
  gap: 0px;
  opacity: 0px;    
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.6s;
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;

}

.content:hover {
  opacity: 1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#addtocart{
  width: 202px;
  height: 48px;
  left: 25px;
  gap: 0px;
  opacity: 0px;    
  background-color: white;  
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #B88E2F;
  text-align: center;      
  border: none;
}
#hoveritem{
  display: flex;
  column-gap: 10px;
}
.content{
  padding: 30% 10%;
}
#share{
 display: flex; 
}
#compare{
  display: flex;
}
#like{
  display: flex;
}
.aboutproducts { 
  background-color: #F4F5F7;
  ;
  align-items: center;
  justify-content: center;
  width: 285px;
  height: 145px;
  top: 301px;
  gap: 0px;
  opacity: 0px;
  padding: 25px 25px;
}
.giamgia{
  background-image: -moz-element(c);
}
.circle{
  width: 48px;
  height: 48px;
  top: 65px;
  left: 213px;
  gap: 0px;
  opacity: 0px;
  background: #E97171;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.giamgia{
  position:absolute;
  width: inherit;
  height: auto;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #FFFFFF;
}
#showmore{
  background: white;
  border: 1.5px solid #B88E2F;
  width: 245px;
  height: 48px;
  top: 2646px;
  left: 598px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #B88E2F;
  
}
.tenlon{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  width: 123px;
  height: 29px;
  top: 317px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
}
.loaisanpham{
  width: 138px;
  height: 24px;
  top: 354px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #898989;
}
.giasaugiam{
  width: 131px;
  height: 30px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;    
}
.giatruocgiam{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #B0B0B0;
}
* {
  margin: 0;
  padding: 0;
}
.btns {

}
.btns {
  position: absolute;
  display: flex;
  color: grey;
  font-size: 17px;
}
.btn i:hover {
  cursor: pointer;
}
#heart { 
  position: relative; 
  width: 100px; 
  height: 90px; 
} 
#parent{position: relative;}
.red{
  width: 1440px;
  height: 1007.93px;
  top: -106.7px;
  gap: 0px;
  opacity: 0px;

}
.loaisanpham{
  display: inline;
}
#new{
  background: #2EC1AC;
}
.tatcaproduct{
  display: flex;
  column-gap: 30px;
}
.circle1{
  width: 48px;
  height: 48px;
  top: 65px;
  left: 213px;
  gap: 0px;
  opacity: 0px;
  background: #E97171;
  border-radius: 50%;
  position: relative;
  z-index: -1;
}
#tencuoi{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;  
}